@import "./variables.scss";

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham'),
       url('./assets/fonts/GothamMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: lighter;
  font-weight: 200;
  src: local('Gotham'),
       url('./assets/fonts/GothamLight.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Gotham';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-colour;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
