// Colours

$background: #f9f9f9;
$clickable-bg: #FFF;
$clickable-border: #eaeaea;
$heading-colour: #494648;
$sub-heading-colour: #c1c0c1;
$text-colour: #a5a3a4;
$checkbox-colour: #38a9df;
$green-logo: #259051;

// Units

$border-radius: 5px;